# Goods and services trade by contry for 2014 year

Data set that is explored in this project summarise goods and services export and import between New Zeland and 235 other countries from 2014 to 2019. Since this project is about learning and practicing Python I am going to explore data only for 2014 year.
More data sets you can finde on this [link](https://www.stats.govt.nz/information-releases/goods-and-services-trade-by-country-year-ended-march-2018)

In [1]:
#importing data set as list of lists
import csv
open_file = open('goods-and-services-trade-by-country-year-ended-june-2019-map-csv.csv')
list_file =list(csv.reader(open_file))
list_file_header = list_file[0]
goods = list_file[1:236] # 2014 year only and without header

print(list_file_header)
print(len(goods))

['Year', 'Time_ref', 'MAGNITUDE', 'UNITS', 'country_code', 'country_name', 'Goods_Exports', 'Goods_Imports', 'Services_Exports', 'Services_Imports', 'Total_exports', 'Total_imports', 'Two_way_trade']
235

In [2]:
#Let's write function for extraction of countries that didn't trade with NZ

def min_value(index):
    contry_name = []
    for row in goods:
        goods_exc = row[index]
        if goods_exc == '0':
            contry_name.append(row[5])
    return contry_name

goods_export = min_value(6)
print(goods_export)
print(len(goods_export))

['Andorra', 'Anguilla', 'Bosnia and Herzegovina', 'Burundi', 'Cabo Verde', 'Christmas Island', 'Dominica', 'Eritrea', 'Greenland', 'South Georgia and the South Sandwich Islands', 'Guinea-Bissau', 'British Indian Ocean Territory', 'Liechtenstein', 'Lesotho', 'North Macedonia', 'Montserrat', 'Niger', 'New Zealand', 'St Pierre and Miquelon', 'Rwanda', 'St Helena', 'San Marino', 'Somalia', 'Suriname', 'South Sudan', 'Sao Tome and Principe', 'Eswatini', 'French Southern Territories', 'United States Minor Outlying Islands', 'Vatican City State']
30

Here we enlisted countries to which NZ didn' export any goods. There are 30 countries enlisted by name.

In [3]:
#Goods import
goods_import = min_value(7)
print(goods_import)
print(len(goods_import))

['Andorra', 'Antigua and Barbuda', 'Angola', 'Antarctica', 'Aruba', 'Burkina Faso', 'Burundi', 'Benin', 'Bahamas', 'Bhutan', 'Botswana', 'Belize', 'Cocos (Keeling) Islands', 'Central African Republic', 'Congo', "Cote D'Ivoire", 'Cabo Verde', 'Curacao', 'Djibouti', 'Dominica', 'Algeria', 'Eritrea', 'Faeroe Islands', 'French Guiana', 'Gibraltar', 'Greenland', 'Gambia', 'Equatorial Guinea', 'South Georgia and the South Sandwich Islands', 'Guam', 'Guinea-Bissau', 'British Indian Ocean Territory', 'Kyrgyzstan', 'Kiribati', 'Comoros', 'St Kitts and Nevis', 'St Lucia', 'Liberia', 'Lesotho', 'Libya', 'Mali', 'Northern Mariana Islands', 'Martinique', 'Mauritania', 'Montserrat', 'Maldives', 'Norfolk Island', 'St Pierre and Miquelon', 'Pitcairn', 'Palau', 'Seychelles', 'St Helena', 'Somalia', 'South Sudan', 'Sao Tome and Principe', 'Turks and Caicos Islands', 'Chad', 'French Southern Territories', 'Tajikistan', 'Turkmenistan', 'Tuvalu', 'United States Minor Outlying Islands', 'Uzbekistan', 'Vatican City State', 'St Vincent and the Grenadines', 'Wallis and Futuna', 'Yemen', 'Mayotte']
68

Countries from which NZ didn't import any goods. There is 68 of them enlisted by name.

In [4]:
#contries that didn't have export nor import goods 
nonexp_imp = []
for contry in goods_export and goods_import:
    
    if contry in goods_export and contry in goods_import:
        nonexp_imp.append(contry)
print(nonexp_imp)
print(len(nonexp_imp))

['Andorra', 'Burundi', 'Cabo Verde', 'Dominica', 'Eritrea', 'Greenland', 'South Georgia and the South Sandwich Islands', 'Guinea-Bissau', 'British Indian Ocean Territory', 'Lesotho', 'Montserrat', 'St Pierre and Miquelon', 'St Helena', 'Somalia', 'South Sudan', 'Sao Tome and Principe', 'French Southern Territories', 'United States Minor Outlying Islands', 'Vatican City State']
19

Here we see that from 19 countries NZ didn't import or export in any of goods.

## Services

Here I am going to determine the countries by name to whom NZ didn't export services or import from them, as well as names of countries with whom NZ didn't have export nor import from.

In [5]:
services_export = min_value(8)
print(services_export)
print(len(services_export))

['Anguilla', 'Albania', 'Aruba', 'Burundi', 'Benin', 'Cocos (Keeling) Islands', "Cote D'Ivoire", 'Cabo Verde', 'Christmas Island', 'Djibouti', 'Eritrea', 'French Guiana', 'Greenland', 'Gambia', 'Guinea', 'South Georgia and the South Sandwich Islands', 'Guinea-Bissau', 'Guyana', 'Honduras', 'British Indian Ocean Territory', 'Comoros', 'St Lucia', 'Montenegro', 'Madagascar', 'Martinique', 'Mauritania', 'Montserrat', 'Niger', 'New Zealand', 'Seychelles', 'St Helena', 'San Marino', 'Somalia', 'South Sudan', 'Sao Tome and Principe', 'El Salvador', 'Chad', 'French Southern Territories', 'Togo', 'Turkmenistan', 'Tunisia', 'Vatican City State', 'St Vincent and the Grenadines', 'Mayotte']
44

In [6]:
services_import = min_value(9)
print(services_import)
print(len(services_import))

['Andorra', 'Anguilla', 'Albania', 'Armenia', 'Aruba', 'Azerbaijan', 'Burkina Faso', 'Benin', 'Cocos (Keeling) Islands', 'Central African Republic', "Cote D'Ivoire", 'Cameroon', 'Cabo Verde', 'Curacao', 'Christmas Island', 'Djibouti', 'Dominica', 'Eritrea', 'Faeroe Islands', 'French Guiana', 'Greenland', 'Guinea', 'Equatorial Guinea', 'South Georgia and the South Sandwich Islands', 'Guinea-Bissau', 'Haiti', 'British Indian Ocean Territory', 'Kyrgyzstan', 'Comoros', 'St Kitts and Nevis', 'St Lucia', 'Lesotho', 'Libya', 'Montenegro', 'Northern Mariana Islands', 'Martinique', 'Mauritania', 'Montserrat', 'Niger', 'New Zealand', 'St Pierre and Miquelon', 'St Helena', 'Sierra Leone', 'San Marino', 'Somalia', 'Suriname', 'Sao Tome and Principe', 'Chad', 'French Southern Territories', 'Togo', 'Tajikistan', 'Turkmenistan', 'Vatican City State', 'St Vincent and the Grenadines', 'Virgin Islands, United States', 'Yemen', 'Mayotte']
57

In [7]:
#contries that didn't have export nor import services during 2014. 
nonexp_imps = []
for contry in services_export and services_import:
    
    if contry in services_export and contry in services_import:
        nonexp_imps.append(contry)
print(nonexp_imps)
print(len(nonexp_imps))

['Anguilla', 'Albania', 'Aruba', 'Benin', 'Cocos (Keeling) Islands', "Cote D'Ivoire", 'Cabo Verde', 'Christmas Island', 'Djibouti', 'Eritrea', 'French Guiana', 'Greenland', 'Guinea', 'South Georgia and the South Sandwich Islands', 'Guinea-Bissau', 'British Indian Ocean Territory', 'Comoros', 'St Lucia', 'Montenegro', 'Martinique', 'Mauritania', 'Montserrat', 'Niger', 'New Zealand', 'St Helena', 'San Marino', 'Somalia', 'Sao Tome and Principe', 'Chad', 'French Southern Territories', 'Togo', 'Turkmenistan', 'Vatican City State', 'St Vincent and the Grenadines', 'Mayotte']
35

## Analysing data for contries that had trade with NZ
After we determined contries that didn't have export or import with NZ or both, now we will give attention towards those contries that have.
First I am going to write function for easy and fast extracting data and changing data type for columns that I am interested in.
Then function for determining these contries.

In [8]:
#extracting specific row and changing the type of data from string to float

def spec_row(index):
    float_value = []
    for row in goods:
        value = float(row[index])
        float_value.append(value)
    return float_value

goods_exp = spec_row(6)

print(min(goods_exp))
print(max(goods_exp))

0.0
11572.3

Here we determined the minimum and max value for Goods export row, based on this we are going to se how many contries
falls in certain range when it comes to export value. We are going to do this by creating dictionary with value ranges from zero to maximum value, as key and then incries the value of specific key for every contry that falls in this range. Than we will determine which contries are in these specific ranges.

In [9]:
value_country = {'0 - 1000': 0, '1000 - 5000': 0, '5000 - 10000': 0, '10000+': 0}

for row in goods:
    goods_export = float(row[6])
    country = row[5]
    if 0 < goods_export < 1000:
        value_country['0 - 1000'] += 1
    elif 1000 < goods_export < 5000:
        value_country['1000 - 5000'] += 1
    elif 5000 < goods_export < 10000:
        value_country['5000 - 10000'] += 1
    elif goods_export > 10000:
        value_country['10000+'] += 1
        
print(value_country['0 - 1000'])
print(value_country['1000 - 5000'])
print(value_country['5000 - 10000'])
print(value_country['10000+'])

198
5
1
1

In [10]:
country_1000 = []
country_5000 = []
country_10000 = []
country_12000 = []

for row in goods:
    country = row[5]
    trade_value = float(row[6])
    if 0 < trade_value < 1000:
        country_1000.append(country)
    elif 1000 < trade_value < 5000:
        country_5000.append(country)
    elif 5000 < trade_value < 10000:
        country_10000.append(country)
    elif trade_value > 10000:
        country_12000.append(country)
print(country_1000)

['United Arab Emirates', 'Afghanistan', 'Antigua and Barbuda', 'Albania', 'Armenia', 'Angola', 'Antarctica', 'Argentina', 'Samoa, American', 'Austria', 'Aruba', 'Azerbaijan', 'Barbados', 'Bangladesh', 'Belgium', 'Burkina Faso', 'Bulgaria', 'Bahrain', 'Benin', 'Bermuda', 'Brunei Darussalam', 'Bolivia', 'Brazil', 'Bahamas', 'Bhutan', 'Botswana', 'Belarus', 'Belize', 'Canada', 'Cocos (Keeling) Islands', 'Congo, the Democratic Republic of the', 'Central African Republic', 'Congo', 'Switzerland', "Cote D'Ivoire", 'Cook Islands', 'Chile', 'Cameroon', 'Colombia', 'Costa Rica', 'Cuba', 'Curacao', 'Cyprus', 'Czechia', 'Germany', 'Djibouti', 'Denmark', 'Dominican Republic', 'Algeria', 'Ecuador', 'Estonia', 'Egypt', 'Spain', 'Ethiopia', 'Finland', 'Fiji', 'Falkland Islands', 'Micronesia, Federated States of', 'Faeroe Islands', 'France', 'Gabon', 'Grenada', 'Georgia', 'French Guiana', 'Ghana', 'Gibraltar', 'Gambia', 'Guinea', 'Guadeloupe', 'Equatorial Guinea', 'Greece', 'Guatemala', 'Guam', 'Guyana', 'Hong Kong (Special Administrative Region)', 'Honduras', 'Croatia', 'Haiti', 'Hungary', 'Indonesia', 'Ireland', 'Israel', 'India', 'Iraq', 'Iran', 'Iceland', 'Italy', 'Jamaica', 'Jordan', 'Kenya', 'Kyrgyzstan', 'Cambodia', 'Kiribati', 'Comoros', 'St Kitts and Nevis', 'Kuwait', 'Cayman Islands', 'Kazakhstan', 'Laos', 'Lebanon', 'St Lucia', 'Sri Lanka', 'Liberia', 'Lithuania', 'Luxembourg', 'Latvia', 'Libya', 'Morocco', 'Monaco', 'Moldova', 'Montenegro', 'Madagascar', 'Marshall Islands', 'Mali', 'Myanmar', 'Mongolia', 'Macau (Special Administrative Region)', 'Northern Mariana Islands', 'Martinique', 'Mauritania', 'Malta', 'Mauritius', 'Maldives', 'Malawi', 'Mexico', 'Malaysia', 'Mozambique', 'Namibia', 'New Caledonia', 'Norfolk Island', 'Nigeria', 'Nicaragua', 'Netherlands', 'Norway', 'Nepal', 'Nauru', 'Oman', 'Panama', 'Peru', 'French Polynesia', 'Papua New Guinea', 'Philippines', 'Pakistan', 'Poland', 'Pitcairn', 'Puerto Rico', 'Portugal', 'Palau', 'Paraguay', 'Qatar', 'Reunion', 'Romania', 'Serbia', 'Russia', 'Saudi Arabia', 'Solomon Islands', 'Seychelles', 'Sudan', 'Sweden', 'Slovenia', 'Slovakia', 'Sierra Leone', 'Senegal', 'El Salvador', 'St Maarten (Dutch part)', 'Syria', 'Turks and Caicos Islands', 'Chad', 'Togo', 'Thailand', 'Tajikistan', 'Tokelau', 'Timor-Leste', 'Turkmenistan', 'Tunisia', 'Tonga', 'Turkey', 'Trinidad and Tobago', 'Tuvalu', 'Taiwan', 'Tanzania', 'Ukraine', 'Uganda', 'Uruguay', 'Uzbekistan', 'St Vincent and the Grenadines', 'Venezuela', 'Virgin Islands, British', 'Virgin Islands, United States', 'Viet Nam', 'Vanuatu', 'Wallis and Futuna', 'Samoa', 'Yemen', 'Mayotte', 'South Africa', 'Zambia', 'Zimbabwe']

In [11]:
#function for enlisting countries with exporting goods values

def exchange(country_range):
    for row in goods:
        country = row[5]
        goods_export = row[6]
        if country in country_range:
            print('Goods export from NZ to {} was: {}'.format(country, goods_export))
        
exchange(country_1000[:10])#first 10.

Goods export from NZ to United Arab Emirates was: 844.7
Goods export from NZ to Afghanistan was: 0.6
Goods export from NZ to Antigua and Barbuda was: 0.8
Goods export from NZ to Albania was: 0.3
Goods export from NZ to Armenia was: 21
Goods export from NZ to Angola was: 46.8
Goods export from NZ to Antarctica was: 0.4
Goods export from NZ to Argentina was: 21.9
Goods export from NZ to Samoa, American was: 22.9
Goods export from NZ to Austria was: 20.4

In [12]:
exchange(country_5000)

Goods export from NZ to United Kingdom was: 1538.4
Goods export from NZ to Japan was: 2900.5
Goods export from NZ to Korea, Republic of was: 1653.7
Goods export from NZ to Singapore was: 1092.5
Goods export from NZ to United States of America was: 4225.3

In [13]:
exchange(country_10000)

Goods export from NZ to Australia was: 8931.2

In [14]:
exchange(country_12000)

Goods export from NZ to China, People's Republic of was: 11572.3

## Goods import
The same principle I am going to use for determining Goods import, except I am not going to make dictionary this time!

In [15]:
goods_imp = spec_row(7)
print(min(goods_imp))
print(max(goods_imp)) #minimum and maximum values for goods import

0.0
8062.3

In [16]:
country_1000 = []
country_5000 = []
country_10000 = []

for row in goods:
    country = row[5]
    trade_value = float(row[7])
    if 0 < trade_value < 1000:
        country_1000.append(country)
    elif 1000 < trade_value < 5000:
        country_5000.append(country)
    elif 5000 < trade_value < 10000:
        country_10000.append(country)

In [17]:
def exchange_imp(country_range):
    for row in goods:
        country = row[5]
        goods_import = row[7]
        if country in country_range:
            print('Goods import from {} to NZ was: {}'.format(country, goods_import))
        
exchange_imp(country_1000[:10]) # first 10
print(len(country_1000)) #number of countries that have goods import from NZ between 0 and 1000 - 155!

Goods import from Afghanistan to NZ was: 0.3
Goods import from Anguilla to NZ was: 0.2
Goods import from Albania to NZ was: 0.2
Goods import from Armenia to NZ was: 0.1
Goods import from Argentina to NZ was: 186.1
Goods import from Samoa, American to NZ was: 1.7
Goods import from Austria to NZ was: 251.6
Goods import from Azerbaijan to NZ was: 0.2
Goods import from Bosnia and Herzegovina to NZ was: 0.5
Goods import from Barbados to NZ was: 0.3
155

In [18]:
exchange_imp(country_5000)
print(len(country_5000))

Goods import from United Arab Emirates to NZ was: 1053.4
Goods import from Germany to NZ was: 2274.9
Goods import from France to NZ was: 1316.5
Goods import from United Kingdom to NZ was: 1207.2
Goods import from Japan to NZ was: 2960.1
Goods import from Korea, Republic of to NZ was: 2016.4
Goods import from Malaysia to NZ was: 2229.1
Goods import from Singapore to NZ was: 2224.5
Goods import from Thailand to NZ was: 1582
Goods import from United States of America to NZ was: 4690.8
10

In [19]:
exchange_imp(country_10000)
print(len(country_10000))

Goods import from Australia to NZ was: 5858.3
Goods import from China, People's Republic of to NZ was: 8062.3
2

When it comes to goods trade bigest partners for 2014 year were:
1. China,
2. Australia and
3. USA

## Services export

In [24]:
services_exp = spec_row(8)
print(min(services_exp))
print(max(services_exp)) #minimum and maximum values for services export

0.0
4124.5

In [29]:
country_1000 = []
country_2000 = []
country_3000 = []
country_4000 = []

for row in goods:
    country = row[5]
    trade_value = float(row[8])
    if 0 < trade_value < 1000:
        country_1000.append(country)
    elif 1000 < trade_value < 2000:
        country_2000.append(country)
    elif 2000 < trade_value < 3000:
        country_3000.append(country)
    elif trade_value > 3000:
        country_4000.append(country)

In [30]:
def exchange_ser(country_range):
    for row in goods:
        country = row[5]
        services_export = row[8]
        if country in country_range:
            print('Services export from NZ to {} was: {}'.format(country, services_export))
        
exchange_ser(country_1000[:10]) # first 10
print(len(country_1000))

Services export from NZ to Andorra was: 0.3
Services export from NZ to United Arab Emirates was: 91.5
Services export from NZ to Afghanistan was: 1.1
Services export from NZ to Antigua and Barbuda was: 0.2
Services export from NZ to Armenia was: 0.1
Services export from NZ to Angola was: 0.6
Services export from NZ to Antarctica was: 0.8
Services export from NZ to Argentina was: 27.5
Services export from NZ to Samoa, American was: 6.2
Services export from NZ to Austria was: 20.1
187

In [32]:
exchange_ser(country_2000)
print(len(country_2000))

Services export from NZ to China, People's Republic of was: 1737.8
Services export from NZ to United Kingdom was: 1074.2
2

In [33]:
exchange_ser(country_3000)
print(len(country_3000))

Services export from NZ to United States of America was: 2551.6
1

In [34]:
exchange_ser(country_4000)
print(len(country_4000))

Services export from NZ to Australia was: 4124.5
1

## Services import

In [35]:
services_imp = spec_row(9)
print(min(services_imp))
print(max(services_imp)) #minimum and maximum values for services import

0.0
5104.1

In [37]:
country_1000 = []
country_2000 = []
country_3000 = []
country_4000 = []

for row in goods:
    country = row[5]
    trade_value = float(row[9])
    if 0 < trade_value < 1000:
        country_1000.append(country)
    elif 1000 < trade_value < 2000:
        country_2000.append(country)
    elif 2000 < trade_value < 3000:
        country_3000.append(country)
    elif trade_value > 3000:
        country_4000.append(country)

In [43]:
def exchange_ser(country_range):
    for row in goods:
        country = row[5]
        services_import = row[9]
        if country in country_range:
            print('Services import from {} to NZ was: {}'.format(country, services_import))
        
exchange_ser(country_1000[:10]) # first 10
print(len(country_1000))

Services import from United Arab Emirates to NZ was: 185.8
Services import from Afghanistan to NZ was: 5.3
Services import from Antigua and Barbuda to NZ was: 0.5
Services import from Angola to NZ was: 0.5
Services import from Antarctica to NZ was: 0.4
Services import from Argentina to NZ was: 13.4
Services import from Samoa, American to NZ was: 2.6
Services import from Austria to NZ was: 31.8
Services import from Bosnia and Herzegovina to NZ was: 0.4
Services import from Barbados to NZ was: 3.6
175

In [44]:
exchange_ser(country_2000)
print(len(country_2000))

Services import from Singapore to NZ was: 1088.5
Services import from United States of America to NZ was: 1990.4
2

In [46]:
exchange_ser(country_3000)
print(len(country_3000))

0

In [47]:
exchange_ser(country_4000)
print(len(country_4000))

Services import from Australia to NZ was: 5104.1
1

## Total exchange

In [51]:
for row in goods:
    country = row[5]
    goods_export = float(row[6])
    goods_import = float(row[7])
    if goods_export > 4000 and goods_import > 4000:
        print ('NZ exported {} goods and imported {} goods from {} during 2014 year!'.format(goods_export, goods_import, country))

NZ exported 8931.2 goods and imported 5858.3 goods from Australia during 2014 year!
NZ exported 11572.3 goods and imported 8062.3 goods from China, People's Republic of during 2014 year!
NZ exported 4225.3 goods and imported 4690.8 goods from United States of America during 2014 year!

In [57]:
for row in goods:
    country = row[5]
    services_export = float(row[8])
    services_import = float(row[9])
    if services_export > 1000 and services_import > 0:
        print ('NZ exported {} services and imported {} services from {} during 2014 year!'.format(services_export, services_import, country))

NZ exported 4124.5 services and imported 5104.1 services from Australia during 2014 year!
NZ exported 1737.8 services and imported 481.9 services from China, People's Republic of during 2014 year!
NZ exported 1074.2 services and imported 879.5 services from United Kingdom during 2014 year!
NZ exported 2551.6 services and imported 1990.4 services from United States of America during 2014 year!

In [71]:
total = []
for row in goods:
    total_trade = float(row[12])
    total.append(total_trade)
    
first_10 = sorted(total, reverse = True)
first_10 = first_10[:10]
#print(first_10)

for row in goods:
    country = row[5]
    total_trade = float(row[12])
    first = first_10
    if total_trade == first:
        print('Total trade exchange with {} during 2014 was {}'.format(country, first))